# Prerequisites
*.d
*.js
*.log
*.txt
*.out
*.err
*.err.txt
*.err.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pdf
*/ifcc-test-output
*/generated/
settings.json
*/ifcc

# Compiled IR files
*.ir
*.ir.txt
*.ir.asm
*.ir.x86
*.ir.pdf

./compiler/build/
./compiler/generated/

# Compiled WAT files
*.wat
*.wasm
*.wat.txt
*.wasm.txt


#tous les fichiers dans tests/ifcc-test-output et tests/ifcc-wat-test-output
tests/ifcc-test-output/*
tests/ifcc-wat-test-output/*
